@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.body-content {
    height: 100vh;
    background-image: url('/FrontAssets/img/bgwp.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'poppins';
}

.btn-primary-gradient{
      background-image: var(--bs-gradient)!important;
      background-color: #0d6efd!important;
      color: #fff !important;
}

.btn-warning-gradient{
      background-image: var(--bs-gradient)!important;
      background-color: #ffc107!important;
      color: #000 !important;
}

nav.bg-body{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.card-bg{
   background-color: rgba(128, 128, 128, 0.7) !important;
   color: #fff;
   border: none !important;
}

.nav-link{
   color: #ffff   !important;
}


@media only screen and (max-width:600px){
   .card-100-mobile{
      width: 100% !important;
   }
}
